<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <title>ReservationForm</title>
	<link rel="stylesheet" th:href="@{/css/reservations.css}" />
	<meta charset="UTF-8">
</head>
<body>
	<header class="reservation-header">
	    <div class="user-info">
	        <span th:text="${#authentication.name}">Username</span>
	    </div>
	    <div class="home-link">
	        <a th:href="@{/}">Torna alla Home</a>
	    </div>
	</header>

    <h1>Nuova Prenotazione</h1>

	<!-- reservation/reservationForm.html -->
	<form th:action="@{/reservations/add}" th:object="${reservation}" method="post">
		<label>Scegli la data:</label>
		<input type="date"
		       name="date"
		       th:value="${#temporals.format(reservation.date, 'yyyy-MM-dd')}"
		       th:attr="min=${#temporals.format(today, 'yyyy-MM-dd')}"
		       onchange="window.location.href='/reservations/add?date='+this.value"
		       required />

	    <br/><br/>

		<label>Ore disponibili:</label>
		<select th:field="*{hour}" required>
		  <option
		    th:each="slot : ${slots}"
		    th:value="${slot.time}"
		    th:text="|${#temporals.format(slot.time,'HH:mm')} (${slot.remaining} posti liberi)|"
		    th:disabled="${slot.remaining == 0}"
		    th:attr="style=${slot.remaining > 0} ? 'color:blue;' : 'color:gray;'">
		  </option>
		</select>
		<br/><br/>

	    <label>Numero persone:</label>
	    <input type="number" th:field="*{numberOfPeople}" min="1" max="20" required />
	    <br/><br/>

	    <button type="submit">Prenota</button>
	    
	    <p th:if="${#fields.hasErrors('hour')}" 
	       th:errors="*{hour}" style="color:red;"></p>
	</form>

</body>
</html>
