<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Le mie prenotazioni</title>
	<link rel="stylesheet" th:href="@{/css/reservations.css}" />
</head>
<body>
	<header class="reservation-header">
	    <div class="user-info">
	        <span th:text="${#authentication.name}">Username</span>
	    </div>
	    <div class="home-link">
	        <a th:href="@{/}">Torna alla Home</a>
	    </div>
	</header>

	
    <h1>Le tue prenotazioni</h1>

    <div th:if="${reservations.isEmpty()}">
        <p>Non hai ancora effettuato prenotazioni.</p>
    </div>

    <div th:if="${!reservations.isEmpty()}">
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Ora</th>
                    <th>Numero di persone</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td th:text="${reservation.date}"></td>
                    <td th:text="${reservation.hour}"></td>
                    <td th:text="${reservation.numberOfPeople}"></td>
                    <td>
                        <form th:action="@{/reservations/delete/{id}(id=${reservation.id})}" method="post">
                            <button type="submit">Annulla</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

	<form th:action="@{/reservations/add}" method="get">
	    <button type="submit">Nuova prenotazione</button>
	</form>
 <div class="home">
  <a th:href="@{/}" class="home-bottom">Torna alla home</a>
</div>

</body>
</html>
