<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Modifica voce del menu</title>
	<link rel="stylesheet" href="/css/adminOperazioni2.css" />
</head>

<body>

	<h1>Modifica voce del menu</h1>

	<form th:action="@{'/admin/menu/editMenuLine/' + ${menuLine.id}}" th:object="${menuLine}" method="post">

		<div>
			<label for="name">Nome:</label>
			<input type="text" id="name" th:field="*{name}" required />
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-msg"></span>
		</div>

		<div>
			<label for="category">Categoria:</label>
			<select id="category" th:field="*{category}" required>
				<option value="" disabled>-- Seleziona categoria --</option>
				<option th:value="Primo">Primo</option>
				<option th:value="Secondo">Secondo</option>
				<option th:value="Dolce">Dolce</option>
				<option th:value="Bevanda">Bevanda</option>
			</select>
			<span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error-msg"></span>

		</div>

		<div>
			<label for="price">Prezzo:</label>
			<input type="number" step="0.01" id="price" th:field="*{price}" required />
			<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error-msg"></span>
		</div>

		<div>
			<label for="description">Descrizione:</label>
			<textarea id="description" th:field="*{description}"></textarea>
			<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-msg"></span>
		</div>


		<div>
			<button type="submit">Salva modifiche</button>
		</div>
	</form>

	<br>
	<a href="/admin/menu/adminMenuHome">Torna alla Home Admin Menu</a>

</body>

</html>