<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>New MenuLine</title>
	<link rel="stylesheet" href="/stile.css?version=3" />
</head>

<body>

	<h1>Aggiungi una voce del menu</h1>
	<form th:action="@{/menuLine}" method="POST" th:object="${menuLine}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<label>Nome:</label>
			<span><input type="text" th:field="${menuLine.name}" /></span>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>
		<div>
			<label>Categoria:</label>
			<span><input type="text" th:field="${menuLine.category}" /></span>
			<span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
		</div>
		<div>
			<label>Prezzo:</label>
			<span><input type="number" th:field="${menuLine.price}" /></span>
			<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
		</div>
		<div>
			<label>Descrizione:</label>
			<span><input type="text" th:field="${menuLine.description}" /></span>
			<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
		</div>
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>

	</form>

</body>

</html>