/* ===== BODY ===== */
body {
  margin: 0;
  background-color: #f7e7e1;
  color: #7c4d25;
  font-family: 'Brush Script MT', cursive;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1rem;
}

/* ===== HEADER ===== */
header {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

header a {
  color: #7c4d25;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  color: #a2673c;
}

/* ===== TITOLO ===== */
h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

/* ===== FORM ===== */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Etichette */
form span:first-child {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

/* Input */
form input[type="text"],
form input[type="password"] {
  font-family: 'Brush Script MT', cursive;
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  border: 1px solid #a2673c;
  border-radius: 6px;
  background-color: #fff7f0;
  color: #7c4d25;
  width: 180px;
  text-align: center;
}

/* ===== ERRORE LOGIN ===== */
/* ===== ERRORE LOGIN ===== */
.errore-login {
  color: red;
  font-size: 0.9rem;
}


/* ===== PULSANTE LOGIN ===== */
form button[type="submit"] {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.2rem;
  color: #7c4d25;
  background: none;
  border: none;
  cursor: pointer;
}

form button[type="submit"]::before {
  content: "* ";
}

form button[type="submit"]::after {
  content: " *";
}

form button[type="submit"]:hover {
  color: #c07e6f;
  text-decoration: underline;
  transform: translateX(2px);
  transition: all 0.2s ease;
}