<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<title>
		Menu-HomePage
	</title>
	<link rel="stylesheet" href="/css/menu.css" />
</head>

<body>
	<div class="menu-container">
		<div class="decorazione1"></div>
		<div class="decorazione2"></div>
		<div class="titolo-menu">Menu</div>


		<!-- Sezione PRIMI -->
		<div class=sezione>Primi</div>
		<ul>
			<li th:each="linea : ${primi}">
				<div class="piatto-intestazione">
					<strong th:text="${linea.name}">Nome</strong>
					<span class="prezzo" th:text="${linea.price} + ' euro'">Prezzo</span>
				</div>
				<div class="descrizione" th:text="${linea.description}">Descrizione</div>
			</li>
		</ul>

		<!-- Sezione SECONDI -->
		<div class=sezione>Secondi</div>
		<ul>
			<li th:each="linea : ${secondi}">
				<div class="piatto-intestazione">
					<strong th:text="${linea.name}">Nome</strong>
					<span class="prezzo" th:text="${linea.price} + ' euro'">Prezzo</span>
				</div>
				<div class="descrizione" th:text="${linea.description}">Descrizione</div>
			</li>
		</ul>

		<!-- Sezione DOLCI -->
		<div class=sezione>Dolci</div>
		<ul>
			<li th:each="linea : ${dolci}">
				<div class="piatto-intestazione">
					<strong th:text="${linea.name}">Nome</strong>
					<span class="prezzo" th:text="${linea.price} + ' euro'">Prezzo</span>
				</div>
				<div class="descrizione" th:text="${linea.description}">Descrizione</div>
			</li>
		</ul>

		<!-- Sezione BEVANDE -->
		<div class=sezione>Bevande</div>
		<ul>
			<li th:each="linea : ${bevande}">
				<div class="piatto-intestazione">
					<strong th:text="${linea.name}">Nome</strong>
					<span class="prezzo" th:text="${linea.price} + ' euro'">Prezzo</span>
				</div>
				<div class="descrizione" th:text="${linea.description}">Descrizione</div>
			</li>
		</ul>
		<div class="torna-home-container">
			<a class="btn-add-review" th:href="@{/}">Torna alla home</a>
		</div>

</body>

</html>