<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menu</title>
	<meta charset="UTF-8">
</head>

<body>

	<h1>Menu</h1>

	<!-- Sezione PRIMI -->
	<h2>Primi</h2>
	<ul>
		<li th:each="linea : ${primi}">
			<strong th:text="${linea.name}">Nome</strong> -
			<span th:text="${linea.description}">Descrizione</span> -
			<span th:text="${linea.price} + ' euro'">Prezzo</span>
		</li>
	</ul>

	<!-- Sezione SECONDI -->
	<h2>Secondi</h2>
	<ul>
		<li th:each="linea : ${secondi}">
			<strong th:text="${linea.name}">Nome</strong> -
			<span th:text="${linea.description}">Descrizione</span> -
			<span th:text="${linea.price} + ' euro'">Prezzo</span>
		</li>
	</ul>

	<!-- Sezione DOLCI -->
	<h2>Dolci</h2>
	<ul>
		<li th:each="linea : ${dolci}">
			<strong th:text="${linea.name}">Nome</strong> -
			<span th:text="${linea.description}">Descrizione</span> -
			<span th:text="${linea.price} + ' euro'">Prezzo</span>
		</li>
	</ul>

	<!-- Sezione BEVANDE -->
	<h2>Bevande</h2>
	<ul>
		<li th:each="linea : ${bevande}">
			<strong th:text="${linea.name}">Nome</strong> -
			<span th:text="${linea.description}">Descrizione</span> -
			<span th:text="${linea.price} + ' euro'">Prezzo</span>
		</li>
	</ul>

</body>

</html>