<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		Ristorante-HomePage
	</title>
	<link rel="stylesheet" href="/css/home.css" />
</head>

<body>
	<!-- Barra in alto -->
	<div class="barra-superiore">
		<div class="link-superiori">
			<!-- Se l'utente è autenticato -->
			<span th:if="${userDetails}"> <!-- dal controller sto passando questa variabile offerta da Spring Security 
		che ci fornisce i dati dell'utente autenticato oppure null se non si è auteticato' -->
				<span th:text="${userDetails.username}"></span> <!-- stampiamo lo username dell'utente autenticato' -->
				<a href="/logout">Logout</a> <!-- diamo all'utente autenticato la possibilità di uscire dal sistema' -->
			</span>
			<!-- Se l'utente NON è autenticato -->
			<span th:if="${userDetails == null}"> <!-- Se l'utente non è autenticat questo oggetto è null -->
				<a href="/login">Login</a> <!-- visto che non è autenticato offriamo la possibilità di loggarsi -->
				<a href="/register">Registrati</a> <!-- o registrarsi -->
			</span>
		</div>
	</div>

	<!-- Corpo diviso -->
	<div class="contenitore-principale">
		<div class="sfondo-sinistra"></div>
		<div class="contenuto-destra">
			<div class="titolo">
				<h1>Elysium</h1>
			</div>
			<p>Via ...</p>
			<p>393 ...</p>
			<a href="/menuLine">Menu</a>
			<a href="/reservations">Prenota ora</a>
			<a href="/reviews">Recensioni</a>
		</div>
	</div>
</body>

</html>